# DATABASE_URL = "postgresql+asyncpg://myuser:mypassword@localhost:5432/meu_banco"

DATABASE_URI=''

SERVER_URL=''

SECRET_KEY=''

MAILJET_API_KEY=""
MAILJET_SECRET_KEY=""


EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USERNAME="seu.email@gmail.com"
EMAIL_PASSWORD="sua_senha_de_app"
EMAIL_USE_TLS="true"
EMAIL_USE_SSL="false"
EMAIL_FROM="seu.email@gmail.com"
EMAIL_FROM_NAME="Seu Nome"
EMAIL_TIMEOUT="10"

# --------------------------------------------------------------------------------

# TO DOUBT ABOUT THE DATABASE URL ASYNC FORMAT

# SQLALCHEMY_DATABASE_URI = "postgresql+asyncpg://myuser:mypassword@localhost:5432/meu_banco"

# ------------------------------------------------------------------------------
# TO GENERATE TOKEN SECRET KEY

# ------------------------------------------------------------------------------

# TO RESET YOUR POSTGRESQL DATABASE

# DROP SCHEMA public CASCADE;
# CREATE SCHEMA public;
# GRANT ALL ON SCHEMA public TO postgres;
# GRANT ALL ON SCHEMA public TO public;

# ------------------------------------------------------------------------------